body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #0078d4;
}

label {
    font-weight: bold;
}

select, button, textarea {
    margin: 10px;
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    background-color: #f1f1f1;
    cursor: grab;
}

/* CSS styles for button states */
.neutral {
    background-color: gray;
    color: white;
}

.active {
    background-color: green;
    color: white;
}

.inactive {
    background-color: red;
    color: white;
}