body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #0078d4;
}

label {
    font-weight: bold;
}

select, button, textarea {
    margin: 10px;
}

textarea {
    resize: none;
}

/* CSS styles for button states */
.neutral {
    background-color: gray;
    color: white;
}

.active {
    background-color: green;
    color: white;
}

.not-active {
    background-color: red;
    color: white;
}